*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: #d8e7ee53;
    background-image: url("./Assets/stethoscope.png");
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 32vh;
    background-position-x:40%;
}
nav{
    margin: 30px 10%;
    margin-bottom: 2%;

}
nav ul{
    display: flex;
    align-items: center; 
    gap:50%;
    
}
nav ul .tab{
    display: flex;
    font-family: 'Poppins', sans-serif;
    gap: 25px;
    font-size: 15px;
    font-weight: 600;
    
}
.tab a:hover{
    color: rgb(17, 231, 156);
}

nav ul li{
    list-style:none;
    margin-left: 10px;
    ;
    
}
nav ul li a{
    color:black;
    text-decoration: none;
}
section {
    display: flex;
    align-items: center;
    gap: 5%;
}
section div.rightmain img{
    height: 83vh;
    width: 33vw;
    background-image: url(./Assets/greenBox.png);
    background-repeat: no-repeat;
    background-size:100%;
    background-position-y:25vh ;
    background-position-x: 2vw;
}
section div.leftmain{
margin-left: 10%;    
}
section div.leftmain h1{
    font-size:30px;
    font-family: 'Poppins', sans-serif;
    margin-right: 50%;
}
section div.leftmain p{
    color: #625c5c;
    margin-right: 10%;
}
section .bottom{
    margin-left: 80%;
    margin-right: 20px;
}
section .mouse{
    margin-left: 90%;
}
section button{
    font-size: 15px;
    margin-top: 10px;
    background-color: rgb(24, 231, 134);
    padding: 12px 40px;
    font-weight: 700;
    color: white;
    border-radius: 25px;
    border: none;
}

